{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.0.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "h",
            "pragmaFrag": "Fragment"
          }
        ]
      ]
    }
  }
}
